@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    margin-top: 35%;
    background-color: rgb(23, 22, 71);
}
h1 {
    margin-bottom: 5%;
    color: azure;
}
button {
    font-size: xx-large;
    color: azure;
    background-color: rgb(110, 129, 211);
}